[submodule "thirdparty/g3log"]
	path = thirdparty/g3log
	url = https://github.com/KjellKod/g3log.git
[submodule "thirdparty/google-snappy"]
	path = thirdparty/google-snappy
	url = https://github.com/google/snappy.git
